body{font-family: Arial, Helvetica, sans-serif;font-size: 16px;margin: 0%;padding: 0;}
header{width: 100vw;height: 14vh;position: fixed;top:0;background-color: #333;
  overflow-y: hidden;margin: 0%;padding: 0;}
.kot h1{color:rgb(89, 227, 89);position: absolute; left: 50%; transform: translateX(-50%);
      top: 1vh;}
.xsign{color:white;position:fixed;left:20px;top:20px;}
.kot h2{color:white;position: absolute; left: 50%; transform: translateX(-50%);top: 8vh;}
@media only screen and (max-width: 768px){
  .logo{position: fixed;right: 4vw;top:2vh;width:100px; height:auto;}
  header{width: 100vw;height: 18vh;}
  .kot h2{top:8vh;}
  .kot h1, .kot h2{white-space:nowrap;}
  main{margin-top: 20vh;}

  .headkot{width: 100vw;display: flex;justify-content: center;font-size: 22px;
    color: green;font-weight: bold;}
  .shita,.madadstyle,.taarich,.schom{
      display: flex;flex-direction: column;width: 100vw;
      background-color: rgb(238, 235, 235);border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .sugmadad{float: left;margin-left: 50vw;width: 20vw;height: 25px;
        font-size: 16px;text-align: center;border: none; background-color: rgb(238, 235, 235);}
    .rd{padding: 7px 0px; margin-right: 10px;}
    .lblmadad{margin-right:10px ;}
    .dated,#schom{width: 25vw;float: left;margin-left: 50vw;text-align: center;}
    .btn{width: 95vw;border: none;background-color:rgb(238, 235, 235);
        font-size: 22px;color: #333;font-weight: bold;background-color: rgb(89, 227, 89)}
    .hashev{background-color: rgb(89, 227, 89);padding: 3px 0px;}
    .sch{padding: 12px 0px;}
    .up{display: flex;flex-direction:column;white-space: nowrap;}
    .btnlblup{margin: 10px;display: none;}

    .tbltozaa{width: 100vw;margin-left: auto;margin-right: auto;}
    .tbltozaaH{width: 66vw;margin-top: 20px;}
    
    tr,td,th{height: 25px;width: 33vw;text-align: center;}
    th{background-color: #333;color: white;border: 1px solid #333;}
    .wt{border-left: 1px solid white;}
    .wtd{border-bottom: 1px solid white;}
    .tbltozaa, tr,  td,.tbltozaaH{
      border:1px solid #333;border-collapse: collapse;background-color:rgb(238, 235, 235) ;
      
    }
    
    #tables{display: none;}
    
}
@media only screen and (max-width: 480px){
  .logo{position: fixed;right: 0;top:3vh;width:75px; height:auto;}
  .dated,#schom{width: 25vw;float: left;margin-left: 30vw;}
  
  
}
@media only screen and (min-width: 767px){
  main{display:none;}
  header{height: 20vh;}
  .logo{position: fixed;right: 0;top:3vh;width:75px; height:auto;}
  
}
