
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
body {font-family: Arial, sans-serif;margin: 0 5px;padding: 0;
    box-sizing: border-box;display: flex;flex-direction: column;
    align-items: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}
#simul{
    display: flex;
}
#simul td {
    border: 1px solid blue:
}

.colSmall1{width:8.33333%}.colSmall2{width:16.66666%}.colSmall3{width:24.99999%}.colSmall4{width:33.33333%}
.colSmall5{width:41.66666%}.colSmall6{width:49.99999%}.colSmall7{width:58.33333%}.colSmall8{width:66.66666%}
.colSmall9{width:74.99999%}.colSmall10{width:83.33333%}.colSmall11{width:91.66666%}.colSmall12{width:99.99999%} 

.col1{width:8.33333%}.col2{width:16.66666%}.col3{width:24.99999%}.col4{width:33.33333%}
.col5{width:41.66666%}.col6{width:49.99999%}.col7{width:58.33333%}.col8{width:66.66666%}
.col9{width:74.99999%}.col10{width:83.33333%}.col11{width:91.66666%}.col12{width:99.99999%} 

@media (min-width:768px){
.colComp1{width:8.33333%}.colComp2{width:16.66666%}.colComp3{width:24.99999%}.colComp4,.zach-third{width:33.33333%}
.colComp5{width:41.66666%}.colComp6,.zach-half{width:49.99999%}.colComp7{width:58.33333%}.colComp8,.zach-twothird{width:66.66666%}
.colComp9,.zach-threequarter{width:74.99999%}.colComp10{width:83.33333%}.colComp11{width:91.66666%}.colComp12,nav{width:99.99999%}
    .back{
        position: relative;
        top: 10px;
        left:750px;
        border: 1px solid grey;
        width:120px;
        height: 30px;
    }
}

@media (max-width:767px){   
   
        body {font-size: 16px;line-height: 1.5;}
      
        .schomim,.radioButtons,.radio,h3,.colMobile4,p,
        ,table {width: 100%; padding: 0 15px;}
      
        p {
          font-size: 20px;
        }
      
        #koteret {
          text-align: center;
          padding: 10px;
        }
      
        
        /* כפתורים */
        button {
          width: 100%;
          font-size: 18px;
        }
      
         
    
    
    

.back{
    position: relative;
    top: 10px;
    right:0px;
    border: 1px solid grey;
    width:120px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tkf{
    margin-bottom: 10px;
}

nav{
    height: 15%;
    width: 100%;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: center;
  } 
  #koteret{
    margin-bottom: 10px;
  }

#section{
    display: flex;
    flex-direction: column;
    justify-content: right;
    
}
.radioButtons,.schomim{
    display: flex;flex-direction: column;
    justify-content: center;
}
input{
    height: 30px;
    text-align: center;
}
.select{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#selectTkofa{
    height: 20px;
    width: 50px;
    margin-right: 50px;}
#dmn{height: 20px;
    width: 50px;
    margin-right: 80px;}
}



    
